  
  *{
    margin: 0;
    padding: 0;
    
    
  }

  html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
    
}
  
  
  /* Font */
  .open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
     
  }

  
  
  /* shared classes */
  .text-primary{
    color: #FD6E0A;
  }

  .dark-1{
    color: #181818;
  }

  .dark-2{
    color:#474747;
  }

  .dark-3{
    color: #757575;
  }

  .secondary-bg{
    background-color:#FFF8F3;
  }

  .btn-primary{
    background-color: #FD6E0A;
    font-family: "Open Sans", serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    /* width: 150px;
    Height: 64px; */
    padding: 18px 35px 18px 35px;
    border-radius: 5px;
    border: none;
    
  }

  /*== end of shared class== */


  /* Header */
  .header{
    background-image: url(../assets/images/developer.png), url(../assets/images/header_bg.png);
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 130px; 
    background-position: top left 3%, bottom  right;
    
    
    
    
  }

/* Nav Bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    padding: 50px 230px 185px 226px;
    


}




  .nav-title{
    font-weight: 800;
    font-size: 45px;
  }



  nav ul li{
    list-style: none;
    margin-right: 51px;
  }

  nav li a{
    text-decoration: none;
    font-family: "Open Sans", serif;
    font-size: 20px;
  }

  nav ul{
    display: flex;
    align-items: center;
  }


  /* Banner  */

  .banner{
    display: flex;
    justify-content: space-between;
    /* margin: 0,35px,0,200px; */
    margin-left: 230px;
    /* margin-right: 38px; */
   
  }

 .banner-greetings{
    font-family: "Open Sans", serif;
    font-weight: 600;
    font-size: 45px;
   margin-bottom: 5px;
 }

 .banner-title {
    font-family: "Open Sans", serif;
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 20px;
 }


 .banner-description{
    font-family: "Open Sans", serif;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 30px;
 }

 .banner .btn-primary{
    margin-right: 30px;
 }

 .banner .contact-btn{
  background-color: #FFF8F3;
  color:#FD6E0A;
  border: 1px solid #FD6E0A;
 }

 .banner-profile-pic{
    width: 584px;
    
    /* margin-top: 50px; */
    /* margin-bottom: 110px; */
    display: flex; 
    align-items: bottom right;
    
 }



 .banner-content{
    max-width: 585px;
 }


 /* main section */

 main{
  padding:150px 15%;
 }

 .section-title{
  font-family: "Open Sans", serif;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
 }

 .section-description{
  font-family: "Open Sans", serif;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 30px;
 }

 /* about styles */
 .about{
  padding: 10%;
  
  text-align: center;
  border-radius: 10px;
  margin-bottom: 130px;
 }

 .about-container{
  background: white;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
 }


 .about-table{
  text-align: center;
  font-family: "Open Sans", serif;
  
 }

 .about-table .table-header{
  font-size: 20px;
  font-weight: normal;
 
  
 }

 .about-table .table-data{
  font-size: 20px;
  font-weight: bold;
 
 }


 /* Skill Section */
 .my-skills .text{
  text-align: center;
  padding: 0px 245px 50px 245px;
 }

 .my-skills .section-description{
  padding-top: 30px;
 }

 .card{
  display: flex;
  gap:24px;
  margin-bottom: 130px;
 }

 .card .card-container{
  background-color: white;
  padding: 80px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0,0,0,6%);
  
 }

 .card-container h3{
  font-size: 20px;
  font-weight: bold;
  color: #181818;
 }


 .skill-description{
  font-size: 16px;
  font-weight: normal;
  color:#757575;

 
  
 }



 /* Resume Section */

.resume-container{
  display: flex;
  gap: 24px;
}

 .resume-column-title{
  font-size: 30px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 30px;
 }

.experience-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
 }

 .experience-subtitle{
  font-size: 20px;
  font-weight: 500;
  color: #757575;
  margin-bottom: 20px;
 }

 .experience-description {
  font-size: 16px;
  font-weight: normal;
  color: #757575;
  margin-bottom: 30px;
 }

 hr{
  color:#D1D1D1;
  
  margin: 30px 10px 30px 0px;
  
 }

.download-cv{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


/* footer */

footer{
  display: flex;
  justify-content: center;
  padding: 130px 230px;
  gap: 100px;
}
.footer-column .section-title {
  text-align: left;
}


.footer-column p{

  width: 750px;
  
}

.footer-column .social-logo img{
  padding-right: 20px;
}


.footer-column input[type="text"], .footer-column input[type="email"]{
  font-size: 16px;
  font-weight: normal;
  color: #757575;
  margin-bottom: 24px;
  background-color: white;
  height: 64px;
  border-radius: 5px;
  border:none;
  display: block;
  padding: 10px 15px;
  width: 100%;
  
}


.footer-column textarea{
  font-size: 16px;
  font-weight: normal;
  color: #757575;
  margin-bottom: 24px;
  background-color: white;
  height: 180px;
  border-radius: 5px;
  border:none;
  display: block;
  padding: 10px 15px;
  width: 100%;
  
}

